@page "/counter"
@*@inject SService SService*@
@inject LocalStorageManager LSManager

@inherits SharedBaseComponent

<h1>Counter</h1>

<p>Current count: @SService.Count</p>

<button class="btn btn-primary" @onclick="Increment">Click me</button>

@code {

    protected override void OnInitialized()
    {
        SService.OnChange += StateHasChanged;
    }

    public async Task Increment()
    {
        SService.Count += 1;
        SService.NotifyStateChanged();
        await LSManager.SaveToLocalStorage();
    }
}
