@page "/editor"

<h3 class="font-weight-bold">EditorComponent</h3>
<div class="container">
    <div class="row" style="border: 1px solid blue;">
        <div class="col-8 border border-success">
            <ImageViewComponent></ImageViewComponent>
        </div>
        <div class="col border border-success">
            <ToolsComponent></ToolsComponent>
        </div>
    </div>
</div>

@code {

}
