@*@page "/editor/{ImageName}"*@
@page "/editor"
@inject StateService SService
@inject LocalStorageManager LSManager

<h3 class="font-weight-bold">EditorComponent</h3>
<p>@ImageName</p>
<div class="container">
    <div class="row" style="border: 1px solid blue;">
        <div class="col-8 border border-success">
            <ImageViewComponent></ImageViewComponent>
        </div>
        <div class="col border border-success">
            <ToolsComponent></ToolsComponent>
        </div>
    </div>
</div>

@code {

    public string? ImageName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //ImageName = SService.ImageName;
        ImageName = await LSManager.GetImageName();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"ImageName: {ImageName}");

        base.OnAfterRender(firstRender);
    }

}
