@page "/imagelist"

@inject StateService SService
@inject GridColumnDataIndexedDb2 GridColumnDataIndexedDb2

<h3>ImageListComponent</h3>
<h6>List of images</h6>
    <div class="card-deck">
        <div class="row">
            @if(srcImageList.Count != 0 && imageListResult.Count != 0)
             {
                <p>list is not empty</p>
                @for (int i = 0; i < imageListResult.Count; i++)
                {
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="@srcImageList[i]" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@imageListResult[i].ImageName</h5>
                            <p class="card-text">Image details</p>
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">Save</a>
                            <a href="#" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
                }
             }
             else
             {
                 <p>list is empty</p>
             }
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Upload an image</h5>
                        <p class="card-text">Description</p>
                        <div class="custom-file">
                            @*<InputFile OnChange="OnFileUpload"/>*@
                            <label class="custom-file-label" for="customFile">Choose file</label>
                            <InputFile OnChange="OnFileUpload" class="custom-file-input" id="customFile"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {

    List<ImageDto> imageListResult = new List<ImageDto>();
    List<string> srcImageList = new List<string>();

    // make list of thumbnail images(strings) from imageListResult
    protected override async Task OnInitializedAsync()
    {
        //is it getting called after state has changed?
        //check first render - connection?
        var openDbResult = await GridColumnDataIndexedDb2.OpenIndexedDb();
        //imageListResult = await GridColumnDataIndexedDb2.GetAll<ImageDto>();
        await GetItemsIDB();
        GetImageSrcList();

        await base.OnInitializedAsync();
    }

    public void GetImageSrcList()
    {
        srcImageList = new List<string>();
        foreach(var imageDto in imageListResult)
        {
            srcImageList.Add(GetImageSrc(imageDto));
        }
    }

    public string GetImageSrc(ImageDto imageDto)
    {
        //var db1Result6 = await GridColumnDataIndexedDb2.GetByKey<int, ImageDto>(1);
        string imgUrl = $"data:{imageDto.ImageType};base64,{Convert.ToBase64String(imageDto.ImageArray)}";
        //Console.WriteLine("image returned");

        return imgUrl;
    }

    public async Task GetItemsIDB()
    {
        imageListResult = await GridColumnDataIndexedDb2.GetAll<ImageDto>();
    }

    // code from idbtest

    public async Task OnFileUpload(InputFileChangeEventArgs e)
    {
        IBrowserFile imageFile = e.File;
        byte[] imageArray = new byte[imageFile.Size];
        await imageFile.OpenReadStream(1024*1024*10).ReadAsync(imageArray);
        string imageType = imageFile.ContentType;
        //await TestAttributesUpload(SService.imageArray, SService.imageFile.Name, imageType);
        int maxKey = await GridColumnDataIndexedDb2.GetMaxKey<int, ImageDto>();
        var imageDtoList = GetImageDto(imageArray, imageFile.Name, maxKey+1, imageType);
        var addedResult = await GridColumnDataIndexedDb2.AddItems<ImageDto>(imageDtoList);
            Console.WriteLine($"data added: {imageFile.Name}");
        await GetItemsIDB();
            Console.WriteLine($"getitemsidb");
        GetImageSrcList();
            Console.WriteLine($"getimagesrclist");
        StateHasChanged();
    }

    public List<ImageDto> GetImageDto(byte[] imageArr, string fileName, int maxKey, string imageType)
    {
        var items = new List<ImageDto>
        {
            new ImageDto
            {
                ImageId = maxKey,
                ImageName = fileName,
                ImageArray = imageArr,
                ImageType = imageType
            }
        };
        return items;
    }

    //public async Task TestAttributesUpload(byte[] imageArr, string fileName, string imageType)
    //{
    //    var db1Result = await GridColumnDataIndexedDb2.OpenIndexedDb();
    //    var maxKey = await GridColumnDataIndexedDb2.GetMaxKey<int, ImageDto>();
    //    var itemsDb1 = GetImageDto(imageArr, fileName, maxKey, imageType);
    //    //if (db1Result != -1)
    //    //{
    //    //    var db1Result1 = await GridColumnDataIndexedDb2.DeleteAll<ImageDto>();
    //    //}
    //    var db1Result2 = await GridColumnDataIndexedDb2.AddItems<ImageDto>(itemsDb1);
    //    Console.WriteLine("data added");
    //}

}
