@page "/graph"
@inject LocalStorageManager LSManager
@inject IndexedDbManager IDbManager
@inject IndexedDbContext IndexedDbContext

<div class="container-fluid bg-primary h-100">
	<div class="row bg-success h-100">
		<div class="col-md-9 bg-black d-flex align-items-center justify-content-center p-0 mh-100">
            <SKCanvasView 
                @ref="skiaView"
                OnPaintSurface="@PaintSurface"
                IgnorePixelScaling="false"
                class="mw-100 mh-100 w-100 h-100"
                style="image-rendering: pixelated;"/>
		</div>
		<div class="col-md-3 d-flex flex-column overflow-auto mh-100 align-items-center" style="background-color: indigo; color: #d7d7d7">
            <button class="btn btn-dark m-2" @onclick="() => skiaView.Invalidate()">Redraw</button>
        </div>
	</div>
</div>
@code {
    SKCanvasView skiaView;
    SKBitmap bitmap;

    private void PaintSurface(SKPaintSurfaceEventArgs e)
    {
        SKSurface surface = e.Surface;
        SKCanvas canvas = surface.Canvas;
        SKPaint paint = new SKPaint(){ Style = SKPaintStyle.Stroke, Color = SKColors.White};
        canvas.Clear();
        //canvas.DrawLine(new SKPoint(0, 0), new SKPoint(1, 1), paint);
        SKImageInfo info = e.Info;
        if (bitmap != null)
        {
            //int startX = (info.Width - bitmap.Width) / 2;
            //int startY = (info.Height - bitmap.Height) / 2;
            //canvas.DrawBitmap(bitmap, startX, startY);
            canvas.DrawBitmap(bitmap, info.Rect);
        }
    }

    public async Task LoadImageToEdit()
    {
        int? ImageId = await LSManager.GetImageId();
        if (ImageId != null)
        {
            var openDbResult = await IndexedDbContext.OpenIndexedDb();
            ImageOriginal2 imageOriginal2 = await IDbManager.FetchImageOriginal2((int)ImageId);
            if (imageOriginal2 != null)
            {
                bitmap = SKBitmap.Decode(imageOriginal2.Array);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadImageToEdit();
    }
}
