@page "/saveas"
@using static PracaInz04.Client.IndexedDBModels.IndexedDBModels
@*@inject StateService StateService*@
@inject GridColumnDataIndexedDb2 GridColumnDataIndexedDb2

@inherits SharedBaseComponent

<h3>SaveAsComponent</h3>

<p>Current count!: @SService.Count</p>

@code {

    protected override void OnInitialized()
    {
        SService.OnChange += StateHasChanged;
    }

}
