@*@page "/editor/{ImageName}"*@
@page "/editor1"
@inject StateService SService
@inject LocalStorageManager LSManager
@inject IndexedDbManager IDbManager

<div class="container-fluid border border-success">
    <h3 class="font-weight-bold">EditorComponent</h3>
    <p>@ImageName</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 bg-primary">
                <ImageViewComponent></ImageViewComponent>
            </div>
            <div class="col-lg-4 bg-info">
                <ToolsComponent></ToolsComponent>
            </div>
        </div>
    </div>
</div>

@code {

    public string? ImageName { get; set; }
    public ImageResized ImageResizedTest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //ImageName = SService.ImageName;
        ImageName = await LSManager.GetImageName();
        ImageResizedTest = await IDbManager.FetchImageResized(ImageName);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"ImageName: {ImageName}");

        base.OnAfterRender(firstRender);
    }

}
