@*@inject SService SService*@
@inject IndexedDbContext IndexedDbContext

@inherits SharedBaseComponent

@*inherit max height and width*@
@*<h5 class="">ImageView2Component</h5>*@
@*<div class="d-flex justify-content-center align-items-center flex-column flex-grow-1">*@
    @*<img class="mw-100 mh-100" src="images/placeholder.svg" alt="Card image cap">*@
    @*<img class="mw-100 mh-100" src="https://cdn.vox-cdn.com/thumbor/Dd6r6dLMOtT5SkiYIujOdGeoMi0=/0x0:828x1792/1320x0/filters:focal(0x0:828x1792):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/20533750/IMG_E5940F3CA39E_2.jpeg" alt="Card image cap">*@
    @*<img class="img-fluid flex-grow-1" src="images/placeholder.svg" alt="Card image cap" width="300">*@
@*</div>*@

@code {

    //string imgUrl = string.Empty;

    protected override void OnInitialized()
    {
        SService.OnChange += StateHasChanged;
    }

}
