@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="h-100">
        @*<div class="top-row">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content h-100">
            @Body
        </article>
    </main>
</div>
