@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="h-100">
        <article class="content h-100">
            @Body
        </article>
    </main>
</div>
